
@

:root {
  --tealcolor:rgb(0, 178, 169, 1);
  --greycolor: #4f4f4d;
 --textspacing: 0.02em;
 --font: Verdana, Geneva, sans-serif;
 --paragraphtext: 100%;
 --titlesize: 130%;
 --Namesize: 200%;
 --chaptersize:120%;
 --jobsize: 170%;
 --companysize: 150%;
 --typewriterfont: Courier, monospace;
 --chapterindent:2.6em;
 --taskssize: 150%;
 --typewriter_top: 1em;
 --profile_box_top:13em;
 --timeline_top:2em;
 --timeline_left:17em;
 --timeline_spot_left:-1.35em;
 --timeline_spot_top: -1.5em;
 --headshot_height: 100%;
}
html {
  scroll-behavior: smooth;
}

.navbar-nav {
  float: left;
}

.nav-link:hover {
  color: white;
}

#myBtn {
  display:block;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 1050;
  border: none;
  outline: none;
  background-color: black;
  color: lightgrey;
  font-weight: 600;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

#myBtn:hover {
  color: white;
  font-size: 1rem;
}
.right {
  background-color: #fff;
}

.left {
  color: white;
}

.header {
  background-image: linear-gradient(rgba(0, 178, 169,1), rgba(255,0,0,0));


}
.name {

}
.headshot {
  padding: 2rem;
  border-style: solid;
  border-color: white;
  border-width: 0.5em;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.title {
  padding: 1em;
}

/*TYPEWRITER ANIMATION */
.typewriter {
  justify-content: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.1em;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: var(--paragraphtext);
    font-family: var(--typewriterfont);
    font-weight: 70%;
    border-right: 0.3em solid orange;
    border-left: 0.3em solid orange;
    box-sizing: border-box;
}

.typewriter:before {
  content: 'Python and django programming enthusiast';
  -webkit-animation-name: typing;
  -webkit-animation-duration: 3s;
  animation-name: typing;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

/* The typing effect */

@keyframes typing {
  0% {content: 'Python and django programming enthusiast';}
  25% {content: 'Amateur photographer';}
  50% {content: 'Wildlife lover and guide';}
  75% {content: 'Entrepreneur';}
  100% {content: 'Trail runner';}

}

.contacts li {
  border-color: var(tealcolor);
}

.contacts {
  font-size: 0.7rem;
  white-space: nowrap;
}

.contacts i {
  color: var(--tealcolor);
}

.left-col {

}

.icon i {
  margin-bottom: -0.35rem;
  display: flex;
  color: var(--tealcolor);

}

#profile {
  background-color: white;
  padding: 0rem;
}
.chp-border {

  border-top: 0.1rem solid var(--tealcolor);
}

.icon h4 {
  margin: -1.0rem;
  font-size: var(--chaptersize);
  text-align: center;
  justify-content: center;
}

.icon-skills i {
  margin-bottom: -0.35rem;
  display: flex;
  color: white;
}
.date {
  border-bottom: 0.05rem ridge var(--tealcolor);

}

.middle-column {
  background-color: var(--tealcolor);
  border-radius: 50px 50px 0px 0px;
}
/*the round progress bars style*/

.container {
  position: relative;
  width:100%;
  display: block;
  padding: 0;
  background-color: white;
}

.container.card {
  background: linear-gradient(0deg, #222, #222, #2F4F4F);
  justify-content: center;
  display: flex;
  align-items: center;
  height:10rem;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
  transition:0.5s;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.container .card:hover {
  transform: translateY(0.2rem);
  padding: 0.2rem;
  box-shadow: 0 1rem 2.5rem rgba(255,255,255,.5);
}

.percent .number h2 {
  color: grey;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.1s;
  justify-content: center;

}

.card:hover .percent .number h2{
  color:white;
  font-size: 1.2rem;
}

.box {
  background-color: #1C2F2F;
  justify-content: center;
}

.box h2 {
  margin-top:1rem;
  position: relative;
  color:grey;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  transition: 0.2s;

}

.card:hover .box h2 {
  color: white;
  font-size: 1rem;
  margin-top: 0.2rem;

}

.percent .number h2 span {
  font-size: 1rem;
  color: grey;
  transition: 0.2s;
}

.card:hover .percent .number h2 span {
  color: white;
}

svg {
  position: relative;
  width: 100%;
  height: 10rem;
  z-index: 1000;
  margin-bottom: 0rem;
  justify-content: center;
}

svg circle {

  height: 20%;
  width: 20%;
  fill: white;
  stroke: white;
  stroke-width: 0.7rem;
  stroke-linecap: round;
  justify-content: center;
  display: flex;
  transform: translate(20%, 0%);
}

svg circle:nth-child(2) {
  stroke-dasharray:380;
  stroke-dashoffset: 380;
}
/*ECOLOGY*/
.card:nth-child(1) circle:nth-child(2) {
  stroke-dashoffset: 38;
  stroke: var(--tealcolor);
}
/*NATURE CONSERVATION*/
.card:nth-child(2) circle:nth-child(2) {
  stroke-dashoffset: 38;
  stroke: var(--tealcolor);
}
/*WILDLIFE*/
.card:nth-child(3) circle:nth-child(2) {
  stroke-dashoffset: 114;
  stroke: var(--tealcolor);
}
/*ArcGIS*/
.card:nth-child(4) circle:nth-child(2) {
  stroke-dashoffset: 57;
  stroke: var(--tealcolor);
}
/*PYTHON*/
.card:nth-child(5) circle:nth-child(2) {
  stroke-dashoffset: 247;
  stroke: var(--tealcolor);
}
/*WEB DEV*/
.card:nth-child(6) circle:nth-child(2) {
  stroke-dashoffset: 190;
  stroke: var(--tealcolor);
}
/*DATA SCIENCE*/
.card:nth-child(7) circle:nth-child(2) {
  stroke-dashoffset: 342;
  stroke: var(--tealcolor);
}
/*MORE PIE PIECHARTS IF NEEDED */
.card:nth-child(2) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}

.card:nth-child(3) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}

.card:nth-child(4) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}

.card:nth-child(5) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}

.card:nth-child(6) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}

.card:nth-child(7) circle:nth-child(2) {
  stroke-dashoffset: ;
  stroke: var(--tealcolor);
}
/*END OF PROGRESS BARS STYLE*/

/*CETIFICATES STYLES*/
.certificates {
  border-bottom: 0.1px solid grey;
  width: 60%;
}

/*LANGUAGES PIE CHART STYLES*/
.language {

}
.progress:hover {
  font-size: 2rem;
  padding: 0.5rem;
  box-shadow: 0 1rem 3.5rem rgba(255,255,255,.5);
}

.progress-bar {
  background-color: var(--tealcolor);
}

/*HOBBIES STYLE*/
.hobbies span{
  color: rgb(255, 255, 255, 1);
  border: 1px solid rgb(0, 178, 169, 1);
  margin:1rem;
  padding: 0.5rem;
  font-size: var(--paragraphtext);
  font-weight: 600;
  display: inline-flex;
  background-color: rgb(0, 178, 169, 0.7);

}

.edu .icon h4{
  margin: -1.0rem;
  font-size: var(--chaptersize);
  text-align: center;
  justify-content: center;
}

.edu dl dt dd {
  color: var(--tealcolor);
}
