{% load static %}
<!DOCTYPE HTML>
<html lang = "en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Daniel Ungureanu Curriculum Vitae</title>
  <link rel="stylesheet"  href="{% static 'css/screenstyle.css' %}">

  <!-- Other uploads for css to adjust to creen seizes
  <link rel="stylesheet" media="screen and (max-width: 1299px)" href="{% static 'css/midscreenstyle.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreenstyle.css' %}">
-->
</head>
<body id="top">
  <button onclick="topFunction()" id="myBtn" class="float-left" title="Go to top">Top</button>
  <!-- make the back to top button move -->
    <script language="JavaScript">
      var mybutton = document.getElementById("myBtn");
      // when i scroll down from the top, call button show function
      window.onscroll = function() {scrollFunction()};
      // instruct the button show function to show button only when i scroll
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // when the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

<!-- Header with name, picture and titles -->
  <div class="container-fluid">

    <div class="header row">
    <!-- navigation bar with icons-->
      <nav class="navbar float-left col-lg-12 col-xl-1 d-flex" >

    <!-- navbar links -->
        <ul class="navbar-nav align-self-start flex-xl-column flex-row d-flex">
          <li class="nav-item list-unstyled">
            <a class="nav-link" href="#profile"><i class="fas fa-user-alt pr-2" title="Profile"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience" ><i class="fas fa-briefcase pr-2 " title="Experience"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#certificates"><i class="fas fa-certificate pr-2 " title="Certificates"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills"><i class="fas fa-plus pr-2 " title="Skills"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#languages"><i class="fas fa-comments pr-2 " title="Languages"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education"><i class="fas fa-graduation-cap pr-2 " title="Education"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#exchange"><i class="fas fa-exchange-alt pr-2 " title="Exchange Programs"></i></a>
          </li>
        </ul>
      </nav>
    <!--
        <div class="col-lg-12 col-xl-7 align-self-center">
          <div class="container d-block">
            <div class="col name align-self-center">
              <h2 class="text-lg-center">Daniel Ungureanu</h2>
            </div>
            <div class="col title align-self-center">
              <h2 class="text-lg-center">Master in Science<br><small>Experience with GIS,<br>Python and Django</small></h2>
            </div>
          </div>
        </div>
      -->
      <div class="col-lg-12 col-xl-7 align-self-center">
        <div class="col name align-self-center">
          <h2 class="text-center">Daniel Ungureanu</h2>
        </div>
        <div class="col title align-self-center mt-5 pt-5">
          <h2 class="text-center">Master in Science<br><small>Experience with GIS, Python and Django</small></h2>
        </div>


      </div>
      <div class="headshot text-center col-xl-4 mb-3 mt-3">
        <img class="text-info img-fluid m-0 p-0"; src="{% static 'images/EU.jpg' %}" alt="Daniel Ungureanu">
      </div>

    </div>
<!-- animation showing different hobbies, some kind of slideshow ......
    <div class="container slideshow">
      <div id="carouselContent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active text-center p-4">
                   <p>Tech-savvy</p>
              </div>
              <div class="carousel-item text-center p-4">

                  <p>Nature lover</p>
              </div>
              <div class="carousel-item text-center p-4">

                  <p>Photographer</p>
              </div>
              <div class="carousel-item text-center p-4">

                  <p>Entrepreneur</p>
              </div>
              <div class="carousel-item text-center p-4">

                  <p>Python programming</p>
              </div>
              <div class="carousel-item text-center p-4">

                  <p>Trail runner</p>
              </div>

          </div>
      </div>
    </div>
-->

<!-- COntact bar ....................................... -->
    <div class="row bg-white justify-content-center align-items-center mt-5">
      <div class="col-md col-sm-12 contacts border border-info border-left-0 text-center">
        <a href="tel:0040757484560" class="contact_buttons btn btn-xlg" type="button" role="button">
          <i class="fas fa-mobile-alt pr-2 text-info fa-1x"></i>0040-757-484560
        </a>
      </div>
      <div class="col-md col-sm-12 contacts border border-info border-left-0 text-center">
        <a class="contact_buttons btn btn-xlg" href="mailto:ungureanu.daniel86@gmail.com" type="button" role="button">
          <i class="fas fa-envelope pr-2 text-info fa-1x"></i>ungureanu.daniel86@gmail.com
        </a>
      </div>
      <div class="col-md col-sm-12 contacts border border-info border-left-0 text-center">
        <a href="https://www.google.ro/maps/@45.6657111,25.5589665,19z" class="contact_buttons btn btn-xlg" type="button" role="button">
          <i class="fas fa-home pr-2 text-info fa-1x"></i>Brasov, Romania
        </a>
      </div>
      <div class="col-md col-sm-12 contacts border border-info border-left-0 text-center">
        <a href="https://www.linkedin.com/in/daniel-ungureanu-32a1a8a3/?originalSubdomain=ro" class="contact_buttons btn btn-xlg" type="button" role="button">
          <i class="fab fa-linkedin-in pr-2 text-info fa-1x"></i>Linkedin
        </a>
      </div>
      <div class="col-md col-sm-12 contacts border border-info border-left-0 text-center">
        <a href="https://github.com/ungureanudaniel" class="contact_buttons btn btn-xlg" type="button" role="button">
          <i class="fab fa-github pr-2 text-info fa-1x"></i>Github
        </a>
      </div>
      <div class="col-md col-sm-12 contacts border border-info border-right-0 border-left-0 text-center">
        <a href="https://www.flickr.com/photos/me_and_my_modest_a200_sony/" class="contact_buttons btn btn-xlg" type="button" role="button">
          <i class="fab fa-flickr pr-2 text-info fa-1x"></i>Flickr
        </a>
      </div>
    </div>
    <br/>
  <!-- LEFT MOST COLUMN!!!..........-->
      <!-- PROFILE CHAPTER ........... -->
      <div  class="chapters mt-5 row">
        <div class="left-column col-sm-12 col-md-12 col-lg-5 mt-5 mb-1">
          <div class="icon py-2 p-0">
            <i id="profile" class="fa fa-user-alt col p-0"><h4 class="ml-2 mt-0">PROFILE</h4></i>
          </div>
          <div class="chp-border mt-2">
          </div>
          <div class="profile-box mt-2 d-inline-block">
            <p class=" mt-1 small text-justify">A 33 years old, 100% nature lover here, trying to find the balance between his passion for nature conservation, raising his two small children, running a small pastry-shop, learning how to code and punishing his legs while trail running. As of today, gathered 7 years of experience working with nature in different ways, among which 5 years of experience in nature conservation projects. While being also a tech-savvy person, 'somehow' slipped easily into working with databases, statistics, GIS and then computer programming with Python and it's web framework Django.<br>I aspire to learning more about nature conservation abroad, work in projects that have access to a much larger audience, situations, talented people, latest tech, foreign cultures and ideally combine that with programming.</p>
          </div >
      <!-- EXPERIENCE CHAPTER ..........-->
          <div id="experience" class="exp mt-5">
            <div class="icon py-2">
              <i class="fa fa-briefcase col fa-1x p-0"><h4 class="ml-2 mt-0">EXPERIENCE</h4></i>
            </div>
            <div class="mt-2 chp-border">
            </div>
            <!-- JOBS DESCRIPTION EACH WITH ITS DIV ...................-->
            <div class="job-five mt-3">
              <p class="date m-2">SEPTEMBER 2019 - CURRENT</p>
              <ul class="font-weight-bold list-unstyled text-dark mt-1">DIRECTOR SELF-EMPLOYED
                <li class="text-black ml-3 text-secondary font-italic"><a href="https://www.artisanbakery.ro">OBICEIURI SANATOASE SRL</a></li>
                <li class="mb-1 mt-1 text-justify font-weight-light"></li>
                <ul class="tasks list-styled">Tasks
                      <li class="ml-4 font-weight-light small">Administrative paper work</li>
                      <li class="ml-4 font-weight-light small">Online marketing</li>
                      <li class="ml-4 font-weight-light small">Stocks management</li>
                      <li class="ml-4 font-weight-light small">Overall business management</li>
                      <li class="ml-4 font-weight-light small">Product photos</li>
                </ul>
              </ul>
              <br/>
            </div>
            <div class="job-four">
              <p class="date m-2">FEB 2015 - SEP 2018</p>
              <ul class="font-weight-bold list-unstyled text-dark">ASSISTANT MANAGER
                <li class="text-secondary ml-3 font-italic"><a href="https://www.carpathia.org/life/">FUNDATIA CONSERVATION CARPATHIA</a></li>
                <li class="pb-1 pt-1 text-justify font-weight-light"></li>
                <ul class="tasks list-styled">Tasks
                  <li class="ml-4 font-weight-light small">Coordination of field staff</li>
                  <li class="ml-4 font-weight-light small">Field surveys, wildlife monitoring and habitat inventories</li>
                  <li class="ml-4 font-weight-light small">GIS maps and database with large amounts of field data</li>
                  <li class="ml-4 font-weight-light small">Project management</li>
                  <li class="ml-4 font-weight-light small">Work shops and presentations to general public and authorities</li>
                  <li class="ml-4 font-weight-light small">Activity reports in English or German</li>
                </ul>
              </ul>
              <br/>
            </div>
            <div class="job-three">
              <p class="date m-2">MAR 2014 - FEB 2015</p>
              <ul class="font-weight-bold list-unstyled text-dark">ASSISTANT MANAGER
                <li class="text-secondary ml-3 font-italic">BCP WILDLIFE S.R.L.</li>
                <li class="pb-1 pt-1 text-justify font-weight-light"></li>
                <ul class="tasks list-styled">Tasks
                  <li class="ml-4 font-weight-light small">Coordination of field staff</li>
                  <li class="ml-4 font-weight-light small">Field surveys, wildlife monitoring and habitat inventories</li>
                  <li class="ml-4 font-weight-light small">GIS maps and database with large amounts of field data</li>
                  <li class="ml-4 font-weight-light small">Project management</li>
                  <li class="ml-4 font-weight-light small">Work shops and presentations to general public and authorities</li>
                  <li class="ml-4 font-weight-light small">Activity reports in English or German</li>
                </ul>
              </ul>
              <br/>
            </div>
            <div class="job-two">
              <p class="date m-2">MAY 2013 - JAN 2014</p>
              <ul class="font-weight-bold list-unstyled text-dark">TECHNICAL DIRECTOR
                <li class="text-secondary ml-3 font-italic"><a href="www.forbiom.eu">FBR FOREST OPS S.A.</a></li>
                <li class="pb-1 pt-1 text-justify font-weight-light"></li>
                <ul class="tasks list-styled">Tasks
                  <li class="ml-4 font-weight-light small">Coordination of field staff and contracted teams</li>
                  <li class="ml-4 font-weight-light small">Negotiating contracts</li>
                  <li class="ml-4 font-weight-light small">Manage permits for timber harvesting</li>
                  <li class="ml-4 font-weight-light small">Resposible for work safety</li>
                  <li class="ml-4 font-weight-light small">Forest management GIS database and maps</li>
                  <li class="ml-4 font-weight-light small">Equipment purchase</li>
                </ul>
              </ul>
              <br/>
            </div>
            <div class="job-one">
              <p class="date m-2">JUN 2012 - MAY 2013</p>
              <ul class="font-weight-bold list-unstyled text-dark">FOREST ENGINEER
                <li class="text-secondary ml-3 font-italic"><a href="www.forbiom.eu">FOREST AND BIOMASS ROMANIA S.R.L.</a></li>
                <li class="pb-1 pt-1 text-justify font-weight-light"></li>
                <ul class="tasks list-styled">Tasks
                  <li class="ml-4 font-weight-light small">Coordination of field staff and contracted teams</li>
                  <li class="ml-4 font-weight-light small">Manage permits for timber harvesting</li>
                  <li class="ml-4 font-weight-light small">Resposible for work safety</li>
                  <li class="ml-4 font-weight-light small">Forest management GIS database and maps</li>
                  <li class="ml-4 font-weight-light small">Equipment purchase</li>
                </ul>
              </ul>
              <br/>
            </div>
          </div>

      </div>
      <br/>
              <!-- SKILLS COLUMN THAT SHOULD BE IN THE MIDDLE WHEN ON LARGE SCREEN AND AFTER CERTIFICATES ON SMALL SCREEN -->
      <div class="middle-column col-sm-12 col-md-12 col-lg-2 skills mt-5 mb-5" id="skills">
        <div class="icon icon-skills py-2 p-0">
          <i class="fa fa-plus col"><h4 class="ml-2 mt-0">SKILLS</h4></i>
        </div>
        <div class="mt-2 chp-border">
        </div>
          <!-- THE ROUND PROGRESS BARS THEMSELVES -->
        <div class="container bg-grey mt-3 w-sm-20 w-md-100">
          <div class="row ">

            <!-- card child 3 - third pie --->
              <div class="box text-center col-md-12  mt-2">
                <strong></strong>
                <span><i class="fa fa-tree"></i>
                  FOREST ECOLOGY
                </span>
                <div class="round text-center" data-value="0.70" data-size="100" data-thickness="15">
                </div>
              </div>

              <div class="box text-center col-md-12  mt-2">
                <strong></strong>
                <span><i class="fa fa-leaf"></i>
                  NATURE CONSERVATION
                </span>
                <div class="round text-center" data-value="0.80" data-size="100" data-thickness="15">
                </div>
              </div>
          <!-- card child 1 - fourth pie --->
            <div class="box text-center col-md-12  mt-2">
              <strong></strong>
              <span class="justify-content-center"><i class="fas fa-globe"></i>
                ARCGIS
              </span>
              <div class="round text-white text-center" data-value="0.75" data-size="100" data-thickness="15">
              </div>
            </div>
            <!-- QGIS --->
              <div class="box text-center  col-md-12 mt-2">
                <strong></strong>
                <span><i class="fas fa-map"></i>
                  QGIS
                </span>
                <div class="round text-center" data-value="0.60" data-size="100" data-thickness="15">
                </div>
              </div>
            <!-- card child 2 - second pie --->
              <div class="box text-center col-md-12  mt-2">
                <strong style="color:white;"></strong>
                <span><i class="fas fa-paw"></i>
                  WILDLIFE TRACKING
                </span>
                <div class="round text-center" data-value="0.70" data-size="100" data-thickness="15">

                </div>
              </div>
              <!-- PHOTOGRAPHY -->
              <div class="box text-center col-md-12  mt-2">
                <strong></strong>
                <span><i class="fas fa-camera-retro"></i>
                  PHOTOGRAPHY
                </span>
                <div class="round text-center" data-value="0.65" data-size="100" data-thickness="15">

                </div>
              </div>
            <!-- card child 1 - first pie --->
              <div class="box text-center col-md-12 mt-2">
                <strong></strong>
                <span><i class="fas fa-terminal"></i>
                  PYTHON
                </span>
                <div class="round text-center" data-value="0.50" data-size="100" data-thickness="15">
                </div>
              </div>
          <!-- card child 6 - sixtg pie --->
            <div class="box text-center col-md-12 mt-2">
              <strong></strong>
              <span><i class="fab fa-internet-explorer"></i>
                DJANGO
              </span>
              <div class="round text-center" data-value="0.50" data-size="100" data-thickness="15">
              </div>
            </div>
          <!-- card child 7 - seventh pie   -->
            <div class="box text-center col-md-12 mt-2">
              <strong></strong>
              <span><i class="fas fa-code"></i>
                HTML
              </span>
              <div class="round text-center" data-value="0.80" data-size="100" data-thickness="15">
              </div>
            </div>


            <!-- card child 8 - second pie --->
              <div class="box text-center col-md-12  mt-2 mb-5">
                <strong></strong>
                <span><i class="fas fa-paint-roller"></i>
                  BOOTSTRAP
                </span>
                <div class="round text-center" data-value="0.85" data-size="100" data-thickness="15">

                </div>
              </div>



            <div>
              <hr>
            </div>
        </div>
      </div>
    </div>
      <script>

      function Circlle(el){
        $(el).circleProgress({
          fill: 'rgb(0,139,139)'})
        .on('circle-animation-progress', function(event, progress, stepValue){

            $(this).find('strong').text(String(stepValue.toFixed(2)).substr(2)+'%');
        });
      };
      Circlle('.round');

      </script>
<!--  END OF SKILLS PIECHARTS -->
      <br/>
      <hr>
<!-- LANGUAGES CHAPTER .......................-->
      <div  class="col-sm-12 col-md-12 col-lg-5 mt-5">
          <div id="languages" class="icon py-2">
            <i class="far fa-comments col p-0"><h4 class="ml-2 mt-0">LANGUAGES</h4></i>
          </div>
          <div class="mt-2 chp-border">
          </div>
          <div>
            <div class="progress mt-2">
              <div id="progressBar" class="progress-bar en" role="progressbar" style="width:90%" area-valuenow="25" aria-valuemin="0" aria-valuemax="100">ENGLISH</div>
            </div>
            <div class="progress mt-2">
              <div id="progressBar" class="progress-bar de bg-warning" style="width:30%;" role="progressbar" area-valuenow="25" aria-valuemin="0" aria-valuemax="100">GERMAN</div>
            </div>
          </div>


<!-- HOBBIES .......................-->
          <div id="hobbies" class="hobbies mt-5">
            <div class="icon py-2">
              <i class="fa fa-running col p-0"><h4 class="ml-2 mt-0">HOBBIES</h4></i>
            </div>
            <div class="mt-2 chp-border">
            </div>
            <div class="hobbies mt-4">
              <span class="rounded">PHOTOGRAPHY</span>
              <span class="rounded">READING</span>
              <span class="rounded">TRAIL RUNNNING</span>
              <span class="rounded">HIKING</span>
              <span class="rounded">CAMPING</span>
              <span class="rounded">BIKING</span>
              <span class="rounded">BARISTA</span>
            </div>
          </div>
<!-- EDUCATION CHAPTER .......................-->
          <div id="education" class="mt-5">
            <div class="icon py-2">
              <i class="fa fa-graduation-cap col p-0"><h4 class="ml-2 mt-0">EDUCATION</h4></i>
            </div>
            <div class="mt-2 chp-border">
            </div>
            <div class="edu">
              <dl class="list-unstyled mt-3">
                <dt class="date m-2">OCT 2010 - JUN 2012</dt>
                  <dd class="font-weight-bold text-dark">UNIVERSITY TRANSILVANIA OF BRASOV</dd>
                  <dd class="text-secondary ml-3 font-italic font-weight-bold">MASTER'S DEGREE</dd>
                  <dd class="" style="color:teal;">Forest Ecology</dd>
                  <br/>
                <dt class="date m-2">OCT 2006 - JUN 2010</dt>
                  <dd class="font-weight-bold text-dark">UNIVERSITY TRANSILVANIA OF BRASOV</dd>
                  <dd class="text-secondary ml-3 font-italic font-weight-bold">BACHELOR DEGREE</dd>
                  <dd class="" style="color:teal;">Forestry</dd>
                  <br/>
                <!--
                <dt class=" date m-2 ">SEP 2002 - JUN 2006</dt>
                  <dd class="font-weight-bold text-dark">NATIONAL COLLEGE 'NICU GANE'</dd>
                  <dd class="text-secondary ml-3 font-italic font-weight-bold">HIGH SCHOOL DIPLOMA</dd>
                  <dd class="" style="color:teal;">Advanced computer skills certificate</dd>
                  <br/>
                -->
              </dl>
            </div>
          </div>
          <div id="exchange" class="mt-5">
            <div class="icon py-2">
              <i class="fa fa-exchange-alt col p-0"><h4 class="ml-2 mt-0">EXCHANGE PROGRAMS</h4></i>
            </div>
            <div class="mt-2 chp-border">
            </div>
            <div class="exchange">
              <dl class="list-unstyled mt-3">
                <dt class="date m-2">MAR 2015 - APR 2015</dt>
                  <dd class="font-weight-bold text-dark">TOMPKINS CONSERVATION PROJECTS</dd>
                  <dd class="text-secondary font-weight-bold font-italic ml-3">ARGENTINA AND CHILE </dd>
                  <dd class="" style="color:teal;">Field visits and presentations of different wilderness conservation projects in Ibera Wetlands, Parque Pumalin, Parque Patagonia</dd>
                  <br/>
                <dt class="date m-2">AUG 2011</dt>
                  <dd class="font-weight-bold text-dark">ORGANIZATION FOR CULTURAL EXCHANGE AMONG NATIONS - OCEAN</dd>
                  <dd class="text-secondary font-weight-bold font-italic ml-3">UNI. OF ALBERTA AND VANCOUVER ISLAND UNI., CANADA</dd>
                  <dd class="" style="color:teal;">Field trip in different key forestry sites in Alberta, Rocky Mountains, Coast Mountains, Vancouver Island</dd>
                  <br/>
                <dt class="date m-2 ">APR 2011 - JUNE 2011</dt>
                  <dd class="font-weight-bold text-dark">ERASMUS INTERNSHIP</dd>
                  <dd class="text-secondary font-weight-bold ml-3 font-italic">GEORG AUGUST UNIVERSITY, GERMANY</dd>
                  <dd class="" style="color:teal;">Assisting lab research on pest management</dd>
                  <br/>
                <dt class="date m-2 ">AUG 2010</dt>
                  <dd class="font-weight-bold text-dark">SUMMERSCHOOL IN NORTHEN GREECE</dd>
                  <dd class="text-secondary ml-3 font-weight-bold font-italic">ARISTOTLE UNIVERSITY OF THESSALONIKI, GREECE</dd>
                  <dd class="" style="color:teal;">Forest site classification and computing statistics on field data</dd>
                  <br/>
                <dt class="date m-2 ">OCT 2009 - MAR 2010</dt>
                  <dd class="font-weight-bold text-dark">ERASMUS EXCHANGE STUDENT</dd>
                  <dd class="text-secondary ml-3 font-weight-bold font-italic">GEORG AUGUST UNIVERSITY, GERMANY</dd>
                  <dd class="" style="color:teal;">Participated in various courses, mostly focused on tropical forestry</dd>
                  <br/>
              </dl>
            </div>
          </div>
          <!-- CERTIFICATE DESCRIPTION .....-->
          <div id="certificates" class="cert mt-5">
            <div class="icon py-2 p-0">
              <i class="fa fa-certificate col-sm"><h4 class="ml-2 mt-0">CERTIFICATES</h4></i>
            </div>
            <div class="mt-2 chp-border">
            </div>
              <dl class="list-unstyled">
                <dt class="date mt-3 ml-6">OCTOBER 2019</dt>
                  <dd class="certificates font-weight-bold m-2">IELTS - GENERAL TRAINING</dd>
                  <dd class="mt-2 ml-4 text-secondary font-weight-bold font-italic">BAND 8</dd>
                  <br/>
                <dt class="date ">JUNE 2015</dt>
                  <dd class="certificates font-weight-bold m-2">TOURIST GUIDE</dd>
                  <dd class="mt-2 ml-4 text-secondary font-weight-bold font-italic">LICENCE TO MANAGE TOURIST VISITORS</dd>
                  <br/>
              </dl>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
