{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#3b2e4d">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#3b2e4d">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#3b2e4d">
		<title>{% trans 'Daniel Ungureanu Resume' %}</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/logo/man-light-bulb-brain.svg' %}">
		<!-- Awesome fonts -->
		<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
		<!-- Color Css -->
		<link rel="stylesheet" id="jssDefault" href="{% static 'css/color4.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.min.css' %}">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{% static 'vendor/html5shiv.js' %}"></script>
			<script src="{% static 'vendor/respond.js' %}"></script>
		<![endif]-->
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader">
					<span class="loader-inner"></span>
				</div>
			</div>

			<!-- ==================== Style Switcher ==================== -->

			<!-- Aside Navigation Menu -->
			<div id="aside-nav-wrapper">
				<a href="{% url 'index' %}" class="logo ml-5 mt-5"><img src="{% static 'images/logo/logo2.WebP' %}" alt=""></a>
				<nav id='theme-menu-list' style="z-index:10010 !important;">
					<ul class="navbar-nav ml-auto">
			        	<li class="nav-item"><a class="nav-link" href="#home"><i class="icon flaticon-house-outline"></i> {% trans 'Home' %}</a></li>
			        	<li class="nav-item"><a class="nav-link" href="#about"><i class="icon flaticon-user"></i> {% trans 'About Me' %}</a></li>
			        	<li class="nav-item"><a class="nav-link" href="#resume"><i class="icon flaticon-resume-and-cv"></i> {% trans 'Resume' %}</a></li>
			        	<li class="nav-item"><a class="nav-link" href="#skills"><i class="icon flaticon-resume-and-cv"></i> {% trans 'Skills' %}</a></li>
			        	<li class="nav-item"><a class="nav-link" href="#portfolio"><i class="icon flaticon-motivational"></i> {% trans 'Portfolio' %}</a></li>
			        	<li class="nav-item"><a class="nav-link" href="#contact"><i class="icon flaticon-contact"></i> Contact</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="icon flaticon-blogging"></i> {% trans 'Language' %}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index:999999; height:60px;width:10px;">
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							<!-- {% get_language_info for LANGUAGE_CODE as lang %} -->
							{% for language in languages %}
							{% if LANGUAGE_CODE == 'ro' %}
							    	
								{% if language.code != 'ro' %}
								<a class="dropdown-item text-uppercase ml-3" style="z-index:999999; margin-top:-90px;color:gray;" href="/{{ language.code }}/{{ request.get_full_path |slice:'4:'}}">English</a>
								{% endif %}
							{% elif LANGUAGE_CODE == 'en' %}
								{% if language.code != 'en' %}
								<a class="dropdown-item text-uppercase ml-3" style="z-index:999999; margin-top:-90px;color:gray;" href="/{{ language.code }}/{{ request.get_full_path |slice:'4:'}}">Română</a>
								{% endif %}
							{% endif %}
							
							{% endfor %}

						</li>
			        </ul>
				</nav>
				<a href="{% static 'files/cv-daniel-ungureanu-20241123.pdf' %}" download="daniel-ungureanu-resume.pdf" class="cv-button">{% trans 'Download CV' %} <i class="fa fa-download" aria-hidden="true"></i></a>
			</div> <!-- /.aside-nav-wrapper -->


			<!-- ============================ Main Page ========================== -->
			<div id="main-page">
				<!-- Home -->

				<section id="home" class="bg-hero" style="background-image: url({% static 'images/20230902_162017crop.webp' %});">

					<div class="main-wrapper">
						<div class="img-box"><img src="{% static 'images/home/headshot.WebP' %}" alt="" class="user-img"></div>
						<h1 class="author-name">Daniel Ungureanu</h1>

						<h4>

			                <span class="cd-headline letters scale">
			                  <span class="cd-words-wrapper">
			                    <b>GIS</b>
			                    <b class="is-visible">PYTHON</b>
			                    <b>ECOLOGY</b>
			                  </span>
			                </span>


			                <span class="cd-headline letters scale">
			                  <span class="cd-words-wrapper">
			                    <b>PYTHON</b>
			                    <b>ECOLOGY</b>
			                    <b class="is-visible">GIS</b>
			                  </span>
			                </span>

			                <span class="cd-headline letters scale">
			                  <span class="cd-words-wrapper">
			                    <b class="is-visible">ECOLOGY</b>
			                    <b>GIS</b>
			                    <b>PYTHON</b>
			                  </span>
			                </span>

			            </h4>

			            <ul class="social-icon">
				       		<li><a href="https://www.facebook.com/ungureanu.daniel.96/"  target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				       		<li><a href="https://www.instagram.com/daniel_ungureanu86/"  target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				       		<li><a href="https://github.com/ungureanudaniel"  target="_blank" rel="noopener noreferrer"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
				       		<li><a href="https://www.linkedin.com/in/daniel-ungureanu-32a1a8a3/"  target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				       	</ul>
			        </div> <!-- /.main-wrapper -->
				</section> <!-- /#home -->
				<!-- End Home -->


				<!-- About Me -->
				<section id="about">
					<div class="main-wrapper-bg">
						<div class="theme-container">
							{% blocktranslate %}<h2 class='theme-title'>About <span>Me.</span></h2>{% endblocktranslate %}
							<div class="about-block">
								<div class="text">
									<div class="row">
										<div class="col-12">
											{% blocktranslate %}<p class='cd-headline clip is-full-width'>Hi! I am <span class='name'>Daniel Ungureanu</span> — a passionate Python developer and GIS technician with an academic background in forestry and forest ecology. I bring hands-on experience working at the intersection of programming, ecology, biodiversity monitoring and geospatial technology, driven by a deep interest in understanding and protecting forest ecosystems. My skill set includes Python, Django, QGIS, SQL, Pandas, Linux (Ubuntu Server), and web development. I manage GIS databases and networks, build web applications and enjoy developing tools to automate tasks. I’m particularly passionate about forest dynamics, biodiversity conservation and climate-change. With multicultural experience abroad and a systems-thinking mindset, I aim to contribute meaningfully to awesome projects, at the intersection of technology and ecology. Let’s collaborate to make the world a better place!</p>{% endblocktranslate %}
										</div>
									</div>
									<div class="row">
										<div class="col-xl-5 col-lg-4 col-md-5 order-md-last"><img src="images/home/me.jpg" alt="" class="my-img"></div>
										<div class="col-xl-7 col-lg-8 col-md-7 order-md-first">
											<ul class="clearfix profile-list">
												{% blocktranslate %}<li><span>Age:</span> {{ age }} years</li>{% endblocktranslate %}
												{% blocktranslate %}<li><span>City:</span> Brasov</li>{% endblocktranslate %}
												{% blocktranslate %}<li><span>Study:</span> Forest Ecology, Transilvania University of Brasov</li>{% endblocktranslate %}
												<li><span>Website:</span> <a href='#'>-</a></li>
												{% blocktranslate %}<li><span>Current Job:</span> IT Specialist, Bucegi Natural Park Administration</li>{% endblocktranslate %}
<!--												<li><span>Freelance Status:</span> {{ item.freelance_status }}</li>-->
											</ul>
											<a href="#contact" class="theme-btn button--wayra scroll-target">{% trans 'Hire Me' %}</a>
											<a href="{% static 'files/cv-daniel-ungureanu-20241123.pdf' %}" download="daniel-ungureanu-resume.pdf" class="theme-btn button--wayra cv-button">{% trans 'Download CV' %}</a>
										</div>
									</div>
								</div> <!-- /.text -->

							</div> <!-- /.about-block -->

				<!-- Resume -->
				<section id="resume">
					<div class="main-wrapper-bg">
						<div class="theme-container">
							{% blocktranslate %}<h2 class='theme-title'>Resu<span>me.</span></h2>{% endblocktranslate %}

							<div class="row qualification-block">
								<div class="col-md-6">
									<h4 class="inner-title mt-40">{% trans 'Education' %}</h4>
									<div class="single-block">
										<h5 class='title'>{% trans 'B.Sc. - Forest Management' %}</h5>
										<span>{% trans 'TRANSYLVANIA UNIVERSITY OF BRASOV' %}</span>
										<span class="text-success">2006 - 2010</span>
										<p>{% trans 'Besides the knowledge in forest management, I accumulated skills in GIS, statistics, scientific research, being part of two scientific student groups (entomology and silviculture), international experience as an Erasmus Student in Germany, at Georg-August Universität Göttingen' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">{% trans 'M.Sc. - Forest Ecology' %}</h5>
										<span>{% trans 'TRANSYLVANIA UNIVERSITY OF BRASOV' %}</span>
										<span class="text-success">2010 - 2012</span>
										<p>{% trans 'Got deeper into forest management, forest ecology and GIS. During the dissertation project, at the end of M.Sc. program I used QuantumGIS intensively and a Nautiz7 field survey device for data collection, on a 4200 ha forest, in ~100 plots, with the aim to measure several tree species biometrics in relation to external factors' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">{% trans 'Python Programming Language Training' %}</h5>
										<span><a target="_blank" href="https://scriucod.eu/">{% trans 'SCRIU COD, BRASOV' %}</a></span>
										<span class="text-success">2017 - 2018</span>
										<p>{% trans 'A 6 months Python programming language course which introduced me into the world of programming and web development, at a local school in Brasov' %}.</p>
									</div> <!-- /.single-block -->
								</div>
								<div class="col-md-6">
									<h4 class="inner-title mt-40">{% trans 'Exchange programs' %}</h4>
									<div class="single-block">
										<h5 class="title">{% trans 'Summer School' %}</h5>
										<span>ARISTOTLE UNIVERSITY OF THESSALONIKI</span>
										<span class="text-success">AUGUST 2010</span>
										<p>{% trans 'A three weeks exchange program in Greece, Halkidiki area, where we practiced cluster analysis on site index and flora datasets' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">{% trans 'Erasmus Mundus Scholarship' %}</h5>
										<span>GEORG-AUGUST-UNIVERSITÄT, GÖTTINGEN</span>
										<span class="text-success">SEP 2009 - MAR 2010</span>
										<p>{% trans 'A 6 months long scholarship at Georg-August-Universität Göttingen, as an exchange student in an International Forestry class, where I built an overview on global forest management practices, plus German language courses' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">{% trans 'Erasmus Mundus Scholarship' %}</h5>
										<span>GEORG-AUGUST-UNIVERSITÄT, GÖTTINGEN</span>
										<span class="text-success">APR 2011 - JUN 2011</span>
										<p>{% trans 'A 3 months long scholarship at Georg-August-Universität Göttingen, in an entomology research lab. Practiced R programming, among other tasks related to entomology' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">{% trans 'OCEAN Exchange Scholarship in Canada' %}</h5>
										<span>UNIVERSITY OF ALBERTA</span>
										<span class="text-success">AUGUST 2011</span>
										<p>{% trans 'Three weeks exchange program in Western Canada, consisting of a field trip throughout Coast Mountains and Rocky Mountains, starting from Edmonton and finishing it in Vancouver. We were taken through all aspects of field work in forestry and national parks, from logging and monitoring insect breakouts to managing forest fires, wildlife and protected areas in Canada (Banff and Jasper National Parks, Grove Cathedral in Vancouver Island)' %}.</p>
									</div> <!-- /.single-block -->
									
								</div>

								<div class="col-md-6">
									<h4 class="inner-title mt-40">{% trans 'Experience' %}</h4>
									<div class="single-block">
										<h5 class="title">FBR FOREST OPS S.A.</h5>
										<span class="small">{% trans 'TIMIȘOARA, ROMANIA' %}</span>
										<span class="small"><a target="_blank" href="https://www.forbiom.eu/ro/index.php">website</a></span>
										<span>{% trans 'Technical Director' %}</span>
										<span class="text-success">2012 - 2014</span>
										<p>{% trans 'Started as a Deputy Forest Engineer, involved into forest surveys, using Quantum GIS and mobile devices like Nautiz7 in the field. Later been promoted to Technical Director of the forest operations, planning and managing forestry activities on 4200 ha. This involved also GIS using QuantumGIS' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">FUNDAȚIA CONSERVATION CARPATHIA</h5>
										<span class="small">{% trans 'BRASOV, ROMANIA' %}</span>
										<span class="small"><a target="_blank" href="https://www.carpathia.org/ro/proiect-life-3/">website</a></span>
										<span>{% trans 'Assistant Manager' %}</span>
										<span class="text-success">2014 - 2018</span>
										<p>{% trans 'Coordinated field activities in a 5.9 mil euros LIFE+ project, did periodical reports, habitat assessments, used ARCGIS 10.2 extensively, managed large databases, first contact with Python scripts for ARCGIS. Other skills obtained here consist of presentations, public awareness on the environment, wildlife guide' %}.</p>
									</div> <!-- /.single-block -->
								</div>
								<div class="col-md-6" style="margin-top:80px !important;">
									<div class="single-block">
										<h5 class="title">Obiceiuri Sanatoase S.R.L.</h5>
										<span class="small">{% trans 'BRASOV, ROMANIA' %}</span>
										<span class="small"><a target="_blank" href="https://www.artisanbakery.ro">website</a></span>
										<span>{% trans 'Business Associate' %}</span>
										<span class="text-success">2017 - 2022</span>
										<p>{% trans 'This is a food industry start-up that I co-founded. I created the website and maintained it for several years, created a voucher management software in Python and Tkinter, also managed google ads and advertising, business development and various administrative tasks' %}.</p>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">UNGUREANU WEBTECH S.R.L.</h5>
										<span class="small">{% trans 'BRASOV, ROMANIA' %}</span>
										<span class="small"><a target="_blank" href="#"></a></span>
										<span>{% trans 'Owner / Web Developer' %}</span>
										<span class="text-success">2021 - {% trans 'present' %}</span>
										<p>{% trans 'Writing software and creating websites for clients, using Python / Django, JavaScript, jQuery, Bootstrap, HTML, CSS, Asyncio, Linux.' %}</p>
										<p>{% trans 'A few examples:' %}</p>
										<a target="_blank" href="https://bucegipark.ro">{% trans 'Bucegi Natural Park' %}</a><br>
										<a target="_blank" href="https://obcinastanisoarei.ro">Grup Folcloric Obcina Stanisoarei</a><br>
										<a target="_blank"href="https://energyfit.ro">Energyfit Karate Brasov</a>
									</div> <!-- /.single-block -->
									<div class="single-block">
										<h5 class="title">RNP ROMSILVA - Administrația Parcului Natural Bucegi R.A.</h5>
										<span class="small">{% trans 'BRASOV, ROMANIA' %}</span>
										<span class="small"><a target="_blank" href="https://www.bucegipark.ro">website</a></span>
										<span>{% trans 'Specialist IT' %}</span>
										<span class="text-success">2022 - {% trans 'present' %}</span>
										<p>{% trans 'GIS database management, implementation of a field data collection digital infrastructure with smartphones, using QFIELD, cloud database services and QGIS forms, network and computers maintenance. Built a custom website with a remote MySQL database and a payment system. The website also has a content management system where employees can add content without programming skills. It also has an integrated GIS map, generated in JavaScript, which works as a separate app on the same domain as the website. Also managed the social media presence, by adding a YouTube channel connected to the new website, twitter, linkedin, instagram accounts. Designed custom graphics for the website and facebook page' %}.</p>
									</div> <!-- /.single-block -->
								</div>
							</div>
							<!-- SKILLS ---->
							<div id="skills" class="skill-progress pt-130">
								{% blocktranslate %}<h2 class='theme-title-two'>Ski<span>lls.</span></h2>{% endblocktranslate %}
								<div class="row">
									<div class="col-md-6">
										<h4 class="inner-title mt-50">{% trans 'Technical Skills' %}</h4>
										<div class="skill-bar">
											<h6 class="skill-title">QuantumGIS</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">QFIELD</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">ArcGIS</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="45">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">Python</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">Web Development</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="60">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Django' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Django Rest Framework' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="20">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">MySQL</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="60">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">PostgreSQL</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="40">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">Data Science</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="40">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">Pandas & Numpy</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="35">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Javascript' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="25">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">Microsoft Office</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="90">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Linux' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Machine learning' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="20">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Digital Graphics' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="35">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Networks' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="50">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Wildlife monitoring' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="76">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Habitat assessments' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="66">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Ecological reconstruction' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="66">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Forest Management' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
									</div> <!-- /.col- -->

									<div class="col-md-6">
										<h4 class="inner-title mt-50">{% trans 'General Skills' %}</h4>
										
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Self - organized' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="70">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Project management' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="60">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Analytical thinking' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Reporting' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Problem solving' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->

									</div> <!-- /.col- -->
								</div> <!-- /.row -->
								<div class="row">
									<div class="col-md-6">
										<h4 class="inner-title mt-50">{% trans 'Language Skills' %}</h4>
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'English' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="90">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'German' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="25">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
									</div> <!-- /.skill-progress -->
									<div class="col-md-6">
										<h4 class="inner-title mt-50">{% trans 'Hobbies' %}</h4>
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Photography' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="60">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Reading' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Mountaineering' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="80">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
										<div class="skill-bar">
											<h6 class="skill-title">{% trans 'Skiing' %}</h6>
											<div class="progress">
												<div class="progress-bar" data-percent="60">
													<span class="percent-text"><span class="count"></span>%</span>
												</div>
											</div>
										</div> <!-- /.skill-bar -->
									</div> <!-- /.skill-progress -->
						</div> <!-- /.theme-container -->
					</div> <!-- /.main-wrapper-bg -->
				</section> <!-- /#resume -->
				<!-- End Resume -->



				<!-- Portfolio -->
				<section id="portfolio" class="portfolio-section">
					<div class="main-wrapper-bg">
						<div class="theme-container">
							{% blocktranslate %}<h2 class='theme-title'>Recent <span>Work. & </span>Certifi<span>cates.</span></h2>{% endblocktranslate %}
							<div class="project-gallery-wrapper mt-40">
								<ul class="isotop-menu-wrapper">
									<li class="is-checked" data-filter=".web">{% trans 'Websites' %}</li>
									<li data-filter=".soft">Software</li>
									<li data-filter=".certificate">{% trans 'Certificates' %}</li>
								</ul>

								<div id="isotop-gallery-wrapper" class="row mt-40">
									<div class="grid-sizer" style="border:none;"></div>
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/bucegi.png' %}" alt="Artisan Bakery header img">
											<figcaption>
												<h3><a href="https://www.bucegipark.ro">Bucegi Natural Park <span>Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/bucegi.png' %}" class="fancybox" data-caption="Artisan Bakery"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/energyfit2.webp' %}" alt="Artisan Bakery header img">
											<figcaption>
												<h3><a href="https://www.energyfit.ro">Energyfit Karate Brasov <span>Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/energyfit2.webp' %}" class="fancybox" data-caption="Artisan Bakery"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/artisan.WebP' %}" alt="Artisan Bakery header img">
											<figcaption>
												<h3><a href="https://www.artisanbakery.ro">Artisan Bakery <span>Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/artisan.WebP' %}" class="fancybox" data-caption="Artisan Bakery"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/blog1.WebP' %}" alt="Mallul de Ganduri - blog header img">
											<figcaption>
												<h3><a href="https://www.malluldeganduri.com">Mallul de Ganduri <span>Blog</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/blog1.WebP' %}" class="fancybox" data-caption="Mallul de Ganduri"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/jobmarket.WebP' %}" alt="Dincolo - Job Portal header img">
											<figcaption>
												<h3><a href="https://www.dincolo.eu">Dincolo <span>Job Portal</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/jobmarket.WebP' %}" class="fancybox" data-caption="Dincolo Job Portal"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/ninjaweb.WebP' %}" alt="Ninja WebTech header img">
											<figcaption>
												<h3><a href="https://www.ninjaweb.tech">Ninja WebTech <span>Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/ninjaweb.WebP' %}" class="fancybox" data-caption="Ninja WebTech"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/obcinast.WebP' %}" alt="Obcina Stanisoarei - Music Band Website header img">
											<figcaption>
												<h3><a href="https://www.obcinastanisoarei.ro">"Obcina Stanisoarei" Folk Music Band<span> Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/obcinast.WebP' %}" class="fancybox" data-caption="Obcina Stanisoarei - Folk Music Band"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item web">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/photography.WebP' %}" alt="Photography Website">
											<figcaption>
												<h3><a href="https://www.camerainthewild.xyz">Camera in the Wild <span>Website</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/photography.WebP' %}" class="fancybox" data-caption="Camera in the Wild - Photography Website"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item soft">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/voucher-software.WebP' %}" alt="Image">
											<figcaption>
												<h3><a href="https://github.com/ungureanudaniel/vouchers-management-program">Voucher Management <span>Software</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/voucher-software.WebP' %}" class="fancybox" data-caption="Voucher Management Software"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item soft">
										<figure class="single-item">
											<img src="{% static 'images/portfolio/cryptomng-software.WebP' %}" alt="Crypto Management Software">
											<figcaption>
												<h3><a href="https://github.com/ungureanudaniel/cryptocurrencies-portfolio-app">Cryptocurrencies Management <span>Software</span></a></h3>
												<a data-fancybox="gallery" href="{% static 'images/portfolio/cryptomng-software.WebP' %}" class="fancybox" data-caption="Cryptocurrencies Management Software"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- /.isotop-item -->
									<div class="isotop-item certificate">
										<figure class="single-item">
											<img src="{% static 'images/certificates/IELTS.WebP'%}" alt="IELTS Certificate">
											<figcaption>
												<h3><a href="#">Band 8 IELTS <span>Certificate</span></a></h3>
												<p class="mt-5 pt-5">19 OCT 2019</p>
												<a data-fancybox="gallery" href="{% static 'images/certificates/IELTS.WebP'%}" class="fancybox" data-caption="Band 8 IELTS Certificate"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- item end -->
									<!-- /.isotop-item -->
									<div class="isotop-item certificate">
										<figure class="single-item">
											<img src="{% static 'images/certificates/data_analysis_certif.WebP' %}" alt="Data Analysis with Python Certificate">
											<figcaption>
												<h3><a href="https://www.freecodecamp.org/certification/fcc03020be8-3f4d-49a5-8a59-caea38f828ca/data-analysis-with-python-v7">Data Analysis with Python <span>Certificate</span></a></h3>
												<p class="mt-5 pt-5">12 Jan 2021</p>
												<a data-fancybox="gallery" href="{% static 'images/certificates/data_analysis_certif.WebP' %}" class="fancybox" data-caption="Data Analysis with Python Certificate"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- item end -->
									<!-- /.isotop-item -->
									<div class="isotop-item certificate">
										<figure class="single-item">
											<img src="{% static 'images/certificates/scientific_computing_certif.WebP' %}" alt="{{ c.title }}">
											<figcaption>
												<h3><a href="https://www.freecodecamp.org/certification/fcc03020be8-3f4d-49a5-8a59-caea38f828ca/scientific-computing-with-python-v7">Scientific Computing with Python <span>Certificate</span></a></h3>
												<p class="mt-5 pt-5">12 Jan 2021</p>
												<a data-fancybox="gallery" href="{% static 'images/certificates/scientific_computing_certif.WebP' %}" class="fancybox" data-caption="Scientific Computing with Python Certificate"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- item end -->
									<!-- /.isotop-item -->
									<div class="isotop-item certificate">
										<figure class="single-item">
											<img src="{% static 'images/certificates/tourism-certificate.WebP' %}" alt="Tourist Guide Certificate">
											<figcaption>
												{% blocktranslate %}<h3><a href="#">Tourist Guide Certificate <span>Certificate</span></a></h3>{% endblocktranslate %}
												<p class="mt-5 pt-5">20 NOV 2015</p>
												<a data-fancybox="gallery" href="{% static 'images/certificates/tourism-certificate.WebP' %}" class="fancybox" data-caption="Tourist Guide Certificate"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<div class="isotop-item certificate">
										<figure class="single-item">
											<img src="{% static 'images/certificates/testdome.png' %}" alt="TestDome">
											<figcaption>
												<h3><a href="https://www.testdome.com/certificates/69442d98b70b4a9c8dd17188d0a83375">Top 25% Python Developers <span>Certificate</span></a></h3>
												<p class="mt-5 pt-5">12 Apr 2022</p>
												<a data-fancybox="gallery" href="{% static 'images/certificates/testdome.png' %}" class="fancybox" data-caption="Top 25% Python Developers"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
											</figcaption>
										</figure> <!-- /.single-item -->
									</div> <!-- /.isotop-item -->
									<!-- item end -->
								</div> <!-- /#isotop-gallery-wrapper -->
							</div> <!-- /.project-gallery-wrapper -->
						</div> <!-- /.theme-container -->
					</div> <!-- /.main-wrapper-bg -->
				</section> <!-- /#portfolio -->
				<!-- End Portfolio -->

				<!-- Contact -->
				<section id="contact" class="contact-section">
					<div class="main-wrapper-bg">
						<div class="theme-container">
							{% blocktranslate %}<h2 class="theme-title">Contact <span>Me.</span></h2>{% endblocktranslate %}
							<div class="contact-address pt-35">
				            	<div class="row">
				            		<div class="col-md-4">
				            			<div class="single-block">
				            				<div class="icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></div>
				            				<h5>{% trans 'My Location' %}</h5>
											<p>{% trans 'BRASOV, ROMANIA' %}</p>
										</div> <!-- /.single-block -->
				            		</div>
				            		<div class="col-md-4">
				            			<div class="single-block">
				            				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
				            				<h5>{% trans 'Phone Number' %}</h5>
				            				<p>+40-757-484560</p>
				            			</div> <!-- /.single-block -->
				            		</div>
				            		<div class="col-md-4">
				            			<div class="single-block">
				            				<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
				            				<h5>{% trans 'Email Address' %}</h5>
				            				<p><a style="color:#777" href="mailto:ungureanu.daniel86@gmail.com">ungureanu.daniel86@gmail.com</a> <br> </p>
				            			</div> <!-- /.single-block -->
				            		</div>
				            	</div>
				            </div> <!-- /.contact-address -->

							<div class="row">
								<div class="text-center col-lg-12 col-md-12">
									<div class="m-2 " style="align-items: center">
									  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89245.39472599306!2d25.526423469855324!3d45.65245670123032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b862aa214f1%3A0x6cf5f2ef54391e0f!2zQnJhyJlvdg!5e0!3m2!1sen!2sro!4v1593452481294!5m2!1sen!2sro" width="70%" height="350" frameborder="0" style="align-items: center;border:5px solid black;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div>
								</div>
							</div>
<!--							<div class="contact-form mt-50">-->
								<h4 class="inner-title">{% trans 'Get In Touch' %}.</h4>
				              	<form action="{% url 'index' %}" method="POST" class="form mt-50 form-horizontal">
									{% csrf_token %}
<!--				                	<div class="messages"></div>-->
<!--				                	<div class="controls">-->
				                		<div class="row">
					                    	<div class="col-md-6">
					                    		<div class="form-group">
							                        <input class="form-control" type="text" name="name" placeholder="Your Name" required="required" data-error="Name is required.">
<!--&lt;!&ndash;							                        <div class="help-block with-errors"></div>&ndash;&gt;-->
							                    </div>
					                    	</div>
					                    	<div class="col-md-6">
					                    		<div class="form-group">
							                        <input class="form-control" type="email" name="email" placeholder="Your Email" required="required" data-error="Valid email is required.">
<!--&lt;!&ndash;							                        <div class="help-block with-errors"></div>&ndash;&gt;-->
							                    </div>
					                    	</div>
					                    </div>
				                		<div class="form-group">
					                    	<textarea  class="form-control"  name="message" class="form_message" placeholder="Type Your Message" required="required" data-error="Please,leave us a message."></textarea>
<!--&lt;!&ndash;					                    	<div class="help-block with-errors"></div>&ndash;&gt;-->
					                    </div>

<!--&lt;!&ndash;				                	</div> &lt;!&ndash; /.controls &ndash;&gt;&ndash;&gt;-->
									<button type="submit" class="theme-btn button--wayra mt-50">{% trans 'Send Message' %}</button>
				              	</form>
<!--				            </div> &lt;!&ndash; /.contact-form &ndash;&gt;-->
						</div> <!-- /.theme-container -->
					</div> <!-- /.main-wrapper-bg -->
				</section> <!-- /#contact -->

				<footer class="theme-footer">
					<div class="theme-container">
						&copy; Copyright <span id="currentYear"></span>. All Rights are Reserved.
					</div>
				</footer>
				<script>
					// Get the current year
					var currentYear = new Date().getFullYear();
			
					// Display the current year in the HTML element with id "currentYear"
					document.getElementById("currentYear").innerHTML = currentYear;
				</script>
				<!-- End Contact -->


			</div> <!-- #main-page -->







		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
		<!-- Popper js -->
		<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Style-switcher  -->
		<script src="{% static 'vendor/jQuery.style.switcher.min.js' %}"></script>
		<!-- AOS js -->
		<script src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>
		<!-- owl.carousel -->
		<!-- js count to -->
		<script src="{% static 'vendor/jquery.appear.js' %}"></script>
		<script src="{% static 'vendor/jquery.countTo.js' %}"></script>
		<!-- Fancybox -->
		<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
		<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
		<!-- Animated Headline -->
		<script src="{% static 'vendor/animated-headline-master/main.js' %}"></script>
		<!-- validator js -->
    	<script src="{% static 'vendor/validator.js' %}"></script>
    	<!-- isotop -->
		<script  src="{% static 'vendor/isotope.pkgd.min.js' %}"></script>

		<!-- Theme js -->
		<script src="{% static 'js/theme.min.js' %}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
